<div class="head-title">
    <div class="left">
        <h1>Crear reserva</h1>
        <ul class="breadcrumb">
            <li>
                <a class="active" href="/admin">Panel</a>
            </li>
            <li><i class='bx bx-chevron-right' ></i></li>
            <li>
                <a href="#">Crear reserva</a>
            </li>
        </ul>
    </div>
</div>

<form action=<%= "/admin/reserves/modify/" + reserve.id %>  method="post" class="register">
    <div class="inputs">
        <div class="input">
            <h5>room</h5>
            <select name="room" id="room">
                <option value="" disabled>Seleccione un pack</option>
                <% for(let x of rooms) { %>
                    <option value="<%= x.id %>" <%= x.id == reserve.room ? "selected" : "" %>><%= x.type %> (<%= x.capacity %> personas)</option>
                <% } %>
            </select>
        </div>
        <div class="input">
            <h5>Tipo de pack</h5>
            <select name="plan" id="plan">
                <option value="" disabled>Seleccione un pack</option>
                <% for(let x of plans) { %>
                    <option value="<%= x.id %>" <%= x.id == reserve.plan ? "selected" : "" %>><%= x.name %></option>
                <% } %>
            </select>
        </div>
        <div class="input">
            <h5>Nombre</h5>
            <input type="text" name="name" id="name" value="<%= reserve.name %>">
        </div>
        <div class="input">
            <h5>Apellido</h5>
            <input type="text" name="lastname" id="lastname" value="<%= reserve.lastname %>">
        </div>
        <div class="input">
            <h5>Email</h5>
            <input type="email" name="email" id="email">
        </div>
        <div class="input">
            <h5>Telefono</h5>
            <input type="number" name="phone" id="phone" value="<%= reserve.phone %>">
        </div>
        <div class="input">
            <h5>Cantidad de personas</h5>
            <input type="number" name="players" id="players" value="<%= reserve.players %>">
        </div>
        <div class="input">
            <h5>Dia</h5>
            <input type="date" name="date" id="date" value="<%= new Date(reserve.date).toLocaleDateString('sv-SE') %>">
        </div>
        <div class="input">
            <h5>Horario</h5>
            <input type="time" name="time" id="time" value="<%= reserve.time %>">
        </div>
        <button>Modificar</button>
    </div>
</form>